@{
    ViewBag.Title = "Home Page";
}

<main>
   <div>
       <h2 class="text-center">
           @{Html.RenderPartial("View");}
       </h2>
   </div>

    <div class="row">
        <div>
            <section class="row">
                <h4 id="title">IND VS PAK Key moments</h4>
                <p class="lead">

                </p>
            </section>
        </div>
    </div>
</main>